<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Устройства</h1>
        <hr><br><br>
        <button type="button" class="btn btn-success btn-sm">Добавить</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">IP</th>
              <th scope="col">API url</th>
              <th scope="col">Статус</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>129.168.1.56</td>
              <td>/api/v1/bar</td>
              <td>alive</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm">Изменить</button>
                <button type="button" class="btn btn-danger btn-sm">Удалить</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
