<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'App',
  methods: {
    pingServer () {
      var head = document.getElementsByTagName('head')[0]
      var icon = head.getElementsByTagName('link')[0]
      const url = 'http://localhost:3001/ping'

      axios.get(url)
        .then((res) => {
          icon.href = '/static/i_on.png'
        })
        .catch((err) => {
          window.console.error(err)
          icon.href = '/static/i_off.png'
        })
    }
  },
  created () {
    window.setInterval(this.pingServer, 3000)
  }
}
</script>

<style>
#app {
  margin-top: 60px;
}
</style>
